#!/usr/bin/env bash

set -euo pipefail

echo "Installling home-manager"
nix run home-manager/master -- init --switch
home-manager switch --extra-experimental-features nix-command --extra-experimental-features flakes
