#!/usr/bin/env bash

set -euo pipefail

echo "Installing nix"
curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install
echo "Installling home-manager"
nix run home-manager/master -- init --switch