#!/usr/bin/env bash

#  Nix hash : {{ include "dot_config/home-manager/home.nix.tmpl" | sha256sum }}

home-manager switch --extra-experimental-features nix-command --extra-experimental-features flakes

