{{ if eq .chezmoi.os "darwin" -}}

#!/usr/bin/env bash

#  Brewfile hash : {{ include "Brewfile" | sha256sum }}

{{ template "set_brew_path.sh.tmpl" . }}

cd {{.chezmoi.sourceDir}}
brew bundle --no-lock

{{ end -}}

