#!/bin/bash

{{ template "set_brew_path.sh.tmpl" . }}

/usr/bin/env fish

if not type -q fisher
  echo "Installing fisher"
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end

