#!/usr/bin/env bash

echo "Installing homebrew"

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ template "set_brew_path.sh.tmpl" . }}
cd {{.chezmoi.sourceDir}}
brew bundle --no-lock

chsh -s $(which fish)

if [ -x "$(command -v rustup-init)" ]; then
  rustup-init -y
fi
