#!/usr/bin/env bash

echo "Installing homebrew"

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ template "set_brew_path.sh.tmpl" . }}
brew bundle --no-lock
