README.md
TIPS.md
bootstrap.sh
.chezmoitemplates
Brewfile
symlinked

{{- if ne .chezmoi.os "darwin" }}
.config/alacritty
.config/karabiner
.config/skhd
.config/yabai
.tool-versoins
.aws
.ssh
{{- end }}

{{- if ne .chezmoi.os "personal" }}
.ssh/google_compute_engine
.ssh/google_compute_engine.pub
.ssh/id_rsa
.ssh/id_rsa.pub
{{- end }}
