{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}
{{- $work := false -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if not $ephemeral -}}
{{-   if or (eq $hostname "HirokinoMacBook-Pro") (eq $hostname "HirokinoMacBook-Air") (eq $hostname "HirokinoiMac") -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "J9PP2VJ1H6" -}}
{{-     $work = true -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}


[edit]
  command = "nvim"

[git]
  autoCommit = false
  autoPush = false

[data]
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  personal = {{ $personal }}
  work = {{ $work }}
