if OS.mac?
  cask_args appdir: "/Applications"

  tap "nektos/tap"
  brew "act"

  brew "awscli"
  brew "awslogs"
  brew "deno"
  brew "k6"
  brew "libpq" # brew link --force libpq
  brew "mysql" 
  brew "mysql-client" 
  brew "watch"

  cask "1password"
  cask "anki"
  cask "nikitabobko/tap/aerospace"
  cask "alacritty"
  cask "arc"
  cask "bettertouchtool"
  cask "devutils"
  cask "docker"
  cask "ghostty"
  cask "google-cloud-sdk"
  cask "insomnia"
  cask "jetbrains-toolbox"
  cask "kap"
  cask "karabiner-elements"
  cask "logi-options+"
  cask "obsidian"
  cask "raycast"
  cask "visual-studio-code"

{{- if .personal }}
  tap "heroku/brew"
  brew "heroku/brew/heroku"

  tap "planetscale/tap"
  brew "planetscale/tap/pscale"

  tap "aquaproj/aqua"
  brew "aquaproj/aqua/aqua"

  brew "aicommits"
  brew "cloud-sql-proxy"
  brew "flyctl"
  brew "mas" 
  brew "pandoc"
  brew "pipx"
  brew "ruby-build"
  brew "rustup"
  brew "wasm-pack"

  cask "cursor"
  cask "dropbox"
  cask "libreoffice"
  cask "linear-linear"
  cask "nvidia-geforce-now"
  cask "slack"
  cask "steam"
  cask "via"
  
  mas "Kindle", id: 302584613
  mas "LINE", id: 539883307
  mas "Microsoft Excel", id: 462058435
  mas "Microsoft PowerPoint", id: 462062816
  mas "Microsoft Word", id: 462054704
  mas "Tailscale", id: 1475387142
{{- else if .work }}
  cask "gas-mask"
  cask "aws-vault"
{{- end }}
end
