bindings {
    q { 
        description: Session...
        bindings {
           a {
             description: Ataman...
             bindings {
               f {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
               i {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
             }
           }
        }
    },
     g {
        description: Git...
        bindings {
          b {actionId: Git.Branches, description: Show Branches}
          c {actionId: Vcs.Show.Local.Changes, description: Show Changes}
          f {actionId: Git.Fetch, description: Fetch}
          F {actionId: Git.Pull, description: Pull}
          g {actionId: Github.Open.In.Browser, description: Open on github}
          m {actionId: Git.Configure.Remotes, description: Manage remotes}
          r {actionId: Git.Rebase, description: Rebase}
          s {actionId: Git.Stash, description: Stash}
          S {actionId: Git.Unstash, description: Stash}
          l {actionId: Vcs.Show.Log, description: Show Log}
        }
      }
}
