brew "asdf"
brew "bat"
brew "cfssl"
brew "chezmoi"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "gnu-sed"
brew "go-task"
brew "htop"
brew "jq"
brew "lazygit"
brew "nkf"
brew "tree-sitter"
brew "neovim"
brew "ripgrep"
brew "rga"
brew "rnr"
brew "s3cmd"
brew "starship"
brew "tmux"
brew "tmuxinator"
brew "tree"

if OS.mac?
  cask_args appdir: "/Applications"

  tap "homebrew/cask-fonts"
  cask "font-hack-nerd-font"
  cask "font-jetbrains-mono-nerd-font"

  tap "nektos/tap"
  brew "act"

  brew "awscli"
  brew "awslogs"
  brew "deno"
  brew "git"
  brew "go"
  brew "k6"
  brew "mysql" 
  brew "mysql-client" 
  brew "openjdk@11"
  brew "postgresql@14"
  brew "watch"
  brew "wget"

  cask "1password"
  cask "1password-cli"
  cask "alacritty"
  cask "amethyst"
  cask "bettertouchtool"
  cask "docker"
  cask "google-japanese-ime"
  cask "insomnia"
  cask "jetbrains-toolbox"
  cask "karabiner-elements"
  cask "licecap"
  cask "ngrok"
  cask "obsidian"
  cask "raycast"
  cask "remnote"
  cask "spotify"
  cask "visual-studio-code"

{{- if .personal }}
  tap "benbjohnson/litestream"
  brew "benbjohnson/litestream/litestream"

  tap "heroku/brew"
  brew "heroku/brew/heroku"

  tap "planetscale/tap"
  brew "planetscale/tap/pscale"

  brew "ansible"
  brew "flyctl"
  brew "mas" 
  brew "pandoc"
  brew "pipx"
  brew "rustup-init"
  brew "wasm-pack"

  cask "cursor"
  cask "dropbox"
  cask "libreoffice"
  cask "steam"
  cask "via"
  
  # mas "BetterSnapTool", id: 417375580
  # mas "Kindle", id: 302584613
  # mas "LINE", id: 539883307
  # mas "Microsoft Excel", id: 462058435
  # mas "Microsoft PowerPoint", id: 462062816
  # mas "Microsoft Word", id: 462054704
  # mas "Tailscale", id: 1475387142
{{- else if .work }}
  cask "gas-mask"
{{- end }}
end
