[user]
{{- if .personal }}
	name = hiroki.goto
	email = blackjiro46248@gmail.com
{{- else if .work }}
	name = goto-hiroki
	email = goto-hiroki@dmm.com
{{- end }}

[core]
	autocrlf = input
  excludesfile = ~/.gitignore_global

{{- if .work }}
[url "git@git.dmm.com:"]
        insteadOf = https://git.dmm.com/
{{- end }}

