if OS.mac?
  cask_args appdir: "/Applications"

  tap "nektos/tap"
  brew "act"

  tap "oven-sh/bun"
  brew "oven-sh/bun/bun"

  brew "awscli"
  brew "awslogs"
  brew "bat"
  brew "chezmoi"
  brew "deno"
  brew "direnv"
  brew "eza"
  brew "fd"
  brew "fish"
  brew "fzf"
  brew "go"
  brew "gh"
  brew "git"
  brew "git-delta"
  brew "gnu-sed"
  brew "grc"
  brew "htop"
  brew "ijq"
  brew "jq"
  brew "k6"
  brew "lazygit"
  brew "libpq"
  brew "mise"
  brew "mysql"
  brew "mysql-client"
  brew "neovim"
  brew "nkf"
  brew "pnpm"
  brew "ripgrep"
  brew "ripgrep-all"
  brew "rnr"
  brew "sk"
  brew "starship"
  brew "terminal-notifier"
  brew "tree"
  brew "tree-sitter"
  brew "watch"
  brew "wget"
  brew "yaji"
  brew "zellij"

  cask "1password"
  cask "1password-cli"  # Command line tool
  cask "anki"
  cask "nikitabobko/tap/aerospace"
  cask "alacritty"
  cask "arc"
  cask "bettertouchtool"
  cask "devutils"
  cask "docker-desktop"
  cask "ghostty"
  cask "google-chrome"
  cask "google-cloud-sdk"
  cask "insomnia"
  cask "jetbrains-toolbox"
  cask "kap"
  cask "karabiner-elements"
  cask "logi-options+"
  cask "obsidian"
  cask "raycast"
  cask "visual-studio-code"
  
  # Nerd Fonts
  cask "font-fira-code-nerd-font"
  cask "font-hack-nerd-font"
  cask "font-jetbrains-mono-nerd-font"

{{- if .personal }}
  tap "heroku/brew"
  brew "heroku/brew/heroku"

  tap "planetscale/tap"
  brew "planetscale/tap/pscale"

  brew "aqua"

  brew "aicommits"
  brew "cloud-sql-proxy"
  brew "flyctl"
  brew "mas" 
  brew "pandoc"
  brew "pipx"
  brew "ruby-build"
  brew "rustup"
  brew "wasm-pack"

  cask "cursor"
  cask "dropbox"
  cask "libreoffice"
  cask "linear-linear"
  cask "nvidia-geforce-now"
  cask "slack"
  cask "steam"
  cask "via"
  
  mas "Kindle", id: 302584613
  mas "LINE", id: 539883307
  mas "Microsoft Excel", id: 462058435
  mas "Microsoft PowerPoint", id: 462062816
  mas "Microsoft Word", id: 462054704
  mas "Tailscale", id: 1475387142
{{- else if .work }}
  cask "gas-mask"
  cask "aws-vault"
{{- end }}
end
