window: 
  opacity: 1
  class:
    instance: Alacritty
    general: Alacritty

{{ if eq .chezmoi.os "linux" -}}
shell: 
  program: /home/linuxbrew/.linuxbrew/bin/fish
{{ else if eq .chezmoi.os "darwin" -}}
shell: 
  program: /opt/homebrew/bin/fish
{{ end -}}

scrolling:
  history: 10000
font:
  normal:
    family: Hack Nerd Font
  bold: 
    family: Hack Nerd Font
    stype: Bold
  italic: 
    family: Hack Nerd Font
    stype: MediumItalic
  bold_italic: 
    family: Hack Nerd Font
    stype: BoldItalic
  size: 12
